   body {
      background: #f5f7fa;
      padding: 40px;
      font-family: "Poppins", sans-serif;
    }

    .card {
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    table {
      border-radius: 15px;
      overflow: hidden;
    }